body{
	font-size:18px;
	width:80%;
	}
h1{
	color:#8A2BE2; 
	text-transform:capitalize;
	}
.odd {
	color: blue;
	}
.even {
	color: white;
	background-color: blue;
	}
img {
	border-radius:15px;
	max-width: 90%;
	height: auto;
}